{% extends "base.html" %}

{% block  title %}500{% endblock %}

{% block localitzacio %}
<li>
				<a class="active">Error del servidor</a>
			</li>
			{% endblock %}

{% block content %}

<div class="container" >
	<header class="page-header ">
		<h1 class="text-danger">Oh! PreguntMatic ha tingut un error...</h1>
	</header>
	
	
	<div class="col-md-12 text-center">Sabem que estas desitjant contestar preguntes, no desesperis ell ho té tot sota control.<br>Torna a intentar-ho d'aquí una estona</div>
	<div class="col-md-offset-5" id="imatge500"></div>
	<a class="btn btn-default col-md-5 col-md-offset-3" href="{% url 'home' %}"><span class="glyphicon glyphicon-home"></span>  Torna al home</a>
	

</div>

{% endblock %}

