{% extends "base.html" %}

{% block  title %}Home{% endblock %}

{% block content %}
<div class="container">
	<header class="page-header">
		<h1>Benvinguts a Preguntmatic</h1>
	</header>
	<div class="col-md-9">
		<div class="jumbotron">
		<p>Pensant en presentar-te a la prova per obtenir el nivell C de Català?<br> Has arribat a la pàgina ideal per practicar!</p>
			<a href="{% url 'preguntes:ferPreguntes' %}" class="btn btn-default">Comença ara mateix!</a>
			</div>
		
	</div>

</div>

{% endblock %}
