{% extends "base.html" %}

{% block  title %}Home{% endblock %}

{% block content %}
<div class="container">
	<header class="page-header">
		<h1>Avís Legal</h1>
	</header>
	<div class="col-md-9 panel panel-default">
		<h1>Política de Protecció de Dades</h1>
		<div class="panel-body">
		<p>
			Les dades personals recollides a través de la Web www.preguntmatic.com o del nostre correu electrònic
			info@preguntmatic.com  són objecte de tractament automatitzat i s'incorporen en els nostres fitxers
			titularitat de Preguntmatic S.L., que és, a més, responsable d'aquests fitxers.
			L'enviament de correus electrònics o d'altres comunicacions a Preguntmatic S.L. implica el consentiment
			exprés del Client a la inclusió de les seves dades de caràcter personal en els nostres fitxers automatitzats.
		</p>
		<p>
			El Client pot exercir els seus drets d'accés, rectificació, cancel·lació i oposició, d'acord amb el es que preveu
			en la Llei orgànica 15/1999, de 13 de desembre, de Protecció de Dades de Caràcter Personal i la resta de normativa
			aplicable a l'efecte, mitjançant l'enviament de correu ordinari d'una sol·licitud per escrit a la direcció següent:
			<address>
				<strong>Preguntmatic S.L.</strong>
				<br>
				C/ Arquitecte Pelai Martinez 1
				<br>
				17600 Figueres (Girona)
			</address>
		</p>
		<p>
			La sol·licitud s'haurà d'acompanyar amb el nom i els cognoms de la persona i la fotocòpia del DNI.

			Els nostres fitxers es troben inscrits en el "Registro General de la Agencia Española de Protección de Datos (www.agpd.es)", al qual pot accedir el Client per tal de comprovar la seva situació.
		</p>
		</div>
	</div>

</div>

{% endblock %}
