{% extends "base.html" %}

{% block  title %}Perfil{% endblock %}

{% block localitzacio %}
<li>
	<a href=#>Usuaris</a>
</li>
<li>
	<a class="active">Perfil</a>
</li>
{% endblock %}
{% block content %}

<div class="col-md-12">
	<form action="" method="post" class="form-horizontal col-md-6 col-md-offset-2" role="form">
		{% csrf_token %}
		{% for field in form.visible_fields %}
		<div class="form-group">
			{{ field.errors }}
			{{ field.label_tag }}  {{ field }}
		</div>
		{% endfor %}
		<input class="btn btn-default col-md-12 " type="submit" value="Guardar" />
	</form>

	<div class="form-group col-md-12">
		<div class="col-md-6 col-md-offset-3 ">
			<strong class="clearfix">Puntuació: </strong>
			<p>
				{{user.usuari.punts}}
			</p>
		</div>
		{% if medallesUser %}
		<div class="col-md-5">

			<ul class="list-group">
				<li class="list-group-item list-group-item-info">
					<strong>Medalles: </strong>
				</li>
				{% for m in medallesUser %}
				<li class="list-group-item">
					{{m.medalla.nomMedalla}}
				</li>
				{%endfor%}
			</ul>
		</div>
		{% endif %}
		<div class="col-md-offset-1 col-md-5">

			<ul class="list-group">
				<li class="list-group-item list-group-item-info">
					<strong>Medalles Possibles: </strong>
				</li>
				{% for e in medallesPossibles %}
				<li class="list-group-item">
					{{e.nomMedalla}}
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>

</div>
<!--
<div class="container">
<div class="row">
<div class="col-md-6">
<h1 class="text-center">{{user.username}}</h1>
</div>
<div clas="row col-md-12">
<div class="col-md-6">
<div class="jumbotron">
<strong>Nom: </strong><p>{{user.first_name}}</p>
<strong>Cognom: </strong><p>{{user.last_name}}</p>
<strong>Email: </strong><p>{{user.email}}</p>
<strong>Puntuació: </strong><p>{{user.usuari.punts}}</p>
</div>
</div>

</div>
</div>
</div>-->
{% endblock %}