{% load staticfiles %}
<!DOCTYPE html>
<html lang="ca">
	<head>
		<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="{% static 'bootstrap/css/mensajes.css' %}" rel="stylesheet">
		<link href="{% static 'estil.css' %}" rel="stylesheet">
		
		<meta charset="utf-8">
		<title>{% block title %}BASE{% endblock %} - PreguntMatic </title>
		{% block mesHead %}{% endblock %}
	</head>

	<body>

		<nav class="navbar navbar-inverse" role="navigation">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{% url 'home' %}">Preguntmatic</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active">
							<a href="{% url 'preguntes:ferPreguntes' %}">Pràcticar</a>
						</li>
						<li>
							<a href="#">Estadistiques</a>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Gestió Preguntes<b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li>
									<a href="{% url 'preguntes:crearTema' %}">Crear tema</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="{% url 'preguntes:crearPregunta' %}">Crear Pregunta</a>
								</li>

							</ul>
						</li>
						<!--
						<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Fer preguntes<b class="caret"></b></a>
						<ul class="dropdown-menu">
						<li>
						<a href="#">Practicar escollint tipus</a>
						</li>
						<li class="divider"></li>
						<li>
						<a href="#">Aleatori</a>
						</li>

						</ul>
						</li>-->
					</ul>
					{% if user.is_authenticated %}
					<!-- USUARI AUTENTICAT! -->
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<span class="glyphicon glyphicon-user"></span> Hola, {{user.first_name}} {{user.last_name}}</a>
							<ul class="dropdown-menu">
								<li>
									<a href="{% url 'usuaris:perfil' %}">Perfil</a>
								</li>
								<li>
									<a href="{% url 'usuaris:logout' %}"> <span class="glyphicon glyphicon-log-out"></span>Logout</a>
								</li>

							</ul>
						</li>
					</ul>
					{% else %}
					<ul class="nav navbar-nav navbar-right">
						<li>
							
							<a href="{% url 'usuaris:login' %}"><span class="glyphicon glyphicon-log-in"></span> Login </a>
						</li>
						<li>
							<a href="{% url 'usuaris:registre' %}">Registrar</a>
						</li>
					</ul>
					{% endif %}
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
		
		<ol class="breadcrumb col-md-offset-1 col-md-10">
			<span>Et trobes a: </span>
			<li>
				<a href="{% url 'home' %}">Home</a>
			</li>
			{% block localitzacio %}

			{% endblock %}
		</ol>

		<div class="col-md-11 col-md-offset-1">
			{% block content %}
			Hola hola
			{% endblock %}
		</div>
		<script src="{% static 'bootstrap/js/jquery.js' %}"></script>
		<script src="{% static 'bootstrap/js/mensajes.js' %}"></script>
		<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
		{% if messages %}
		<script>
			{% load eines_extras %}

			//{% get_twitter_bootstrap_alert_msg_css_name message.tags as alert_tag %}-->
			$(document).ready(function() {
				//$().toastmessage('showErrorToast',"error dialog...");

				{% for message in messages %}
				$().toastmessage('showToast', {
					text : "{{message}}",
					sticky : false,
					position : 'top-right',
					type : "{{message.tags}}",
				});

				{% endfor %}

			});
		</script>
		{% endif %}
		{% block mesScripts %}{% endblock %}
		
	</body>
</html>
