{% load staticfiles %}
<!DOCTYPE html>
<html lang="ca">
	<head>
		<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="{% static 'bootstrap/css/mensajes.css' %}" rel="stylesheet">
		<link href="{% static 'estil.css' %}" rel="stylesheet">

		<meta charset="utf-8">
		<title>{% block title %}BASE{% endblock %} - PreguntMatic </title>
		{% block mesHead %}{% endblock %}
	</head>

	<body>

		<nav class="navbar navbar-inverse" role="navigation">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{% url 'home' %}"><span class="glyphicon glyphicon-home"></span> Preguntmatic</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active">
							<a href="{% url 'preguntes:ferPreguntes' %}"><span class="glyphicon glyphicon-list-alt"></span> Pràcticar</a>
						</li>
						<li>
							<a href="{% url 'preguntes:estadistiques' %}"><span class="glyphicon glyphicon-stats"></span> Estadistiques</a>
						</li>
						{% if user.is_authenticated %}
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-wrench"></span> Gestió Preguntes<b class="caret"></b></a>
							<ul class="dropdown-menu">
								<!--<li>
								<a href="{% url 'preguntes:crearTema' %}">Crear tema</a>
								</li>-->
								<li>
									<a href="{% url 'preguntes:crearPregunta' %}">Crear Pregunta</a>
								</li>

								<li>
									<a href="{% url 'preguntes:llistatPreguntesIncorrectes' %}">Gestió de preguntes errònies</a>
								</li>
								{% if request.user.is_staff %}
								<li>
									<a href="{% url 'preguntes:exportXML'%}">Exportar Preguntes</a>
								</li>
								{% endif %}
							</ul>
						</li>
						{% endif %}
						
					</ul>
					{% if user.is_authenticated %}
					<!-- USUARI AUTENTICAT! -->
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="{% url 'politicaIAvis' %}"><span class="glyphicon glyphicon-info-sign"></span> Avís Legal</a>
						</li>
						<p id="idUsuari" style="display:none">
							{{user.id}}
						</p>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span class="glyphicon glyphicon-user"></span> Hola, {{user.first_name}} {{user.last_name}}</a>
							<ul class="dropdown-menu">
								<li>
									<a href="{% url 'usuaris:perfil' %}">Perfil</a>
								</li>
								<li>
									<a href="{% url 'usuaris:logout' %}"> <span class="glyphicon glyphicon-log-out"></span>Logout</a>
								</li>

							</ul>
						</li>
					</ul>
					{% else %}
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="{% url 'politicaIAvis' %}"><span class="glyphicon glyphicon-info-sign"></span> Avís Legal</a>
						</li>
						<li>

							<a href="{% url 'usuaris:login' %}"><span class="glyphicon glyphicon-log-in"></span> Login </a>
						</li>
						<li>
							<a href="{% url 'usuaris:registre' %}">Registrar</a>
						</li>
					</ul>
					{% endif %}
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>

		<ol class="breadcrumb col-md-offset-1 col-md-10">
			<span>Et trobes a: </span>
			<li>
				<a href="{% url 'home' %}">Home</a>
			</li>
			{% block localitzacio %}

			{% endblock %}
		</ol>

		<div class="col-md-11 col-md-offset-1">
			{% block content %}
			Hola hola
			{% endblock %}
		</div>
		<script src="{% static 'bootstrap/js/jquery.js' %}"></script>
		<script src="{% static 'bootstrap/js/mensajes.js' %}"></script>
		<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'jquery-cookie-master/jquery.cookie.js'%}"></script>
		<script src="{% static 'highcharts.js'%}"></script>
		<script src="{% static 'exporting.js' %}"></script>
		<script src="{% static 'codiGeneral.js' %}"></script>

		{% if messages %}
		<script>
			{% load eines_extras %}

			//{% get_twitter_bootstrap_alert_msg_css_name message.tags as alert_tag %}-->
			$(document).ready(function() {
				//$().toastmessage('showErrorToast',"error dialog...");

				{% for message in messages %}
				$().toastmessage('showToast', {
					text : "{{message}}",
					sticky : false,
					position : 'top-right',
					type : "{{message.tags}}",
				});

				{% endfor %}

			});
		</script>

		{% endif %}
		{% block mesScripts %}{% endblock %}
		<div id="imatgeFons"></div>
	</body>
</html>
