{% extends "base.html" %}
{% load staticfiles %}


{% block  title %}Llistat de preguntes{% endblock %}

{% block localitzacio %}
		<li>
			<a href="{% url 'preguntes:ferPreguntes' %}">Preguntes</a>
		</li>
		<li>
			<a class="active">Llistat de preguntes</a>
		</li>
{% endblock %}

{% block content %} 
<h1>preguntes disponibles</h1>
<strong>Escull el pregunta que vulguis pràcticar</strong><br><br>
{% if preguntes %}
<div class="container">
	<ul>
			<div class="list-group col-md-8 col-sm-offset-2 ">
			{% for pregunta in preguntes %}
				<div class="list-group-item text-center">
					<p>{{pregunta.id}} -- {{ pregunta.enunciat }} -- {{pregunta.tema}} -- {{pregunta.tipus}}   </p>
				</div>
			{% endfor %}
			</div>
	</ul>
</div>
{% else %}
<p>
	No hi ha cap pregunta disponible del pregunta
</p>
{% endif %} {% endblock %}

