{% extends "base.html" %}

{% block  title %} Crear pregunta - PreguntMatic {% endblock %}

{% block localitzacio %}
		<li>
			<a href="{% url 'preguntes:ferPreguntes' %}">Preguntes</a>
		</li>
		<li>
			<a class="active">Crear Pregunta</a>
		</li>
{% endblock %}

{% block content %}
<h1>Creació de preguntes</h1>
<form action="" method="post" enctype="multipart/form-data" class="form-horizontal" role="form">
	{% csrf_token %}
	{% for field in form.visible_fields %}
	<div id="formEntradaPreguntes" class="col-md-12  form-group">
		{{ field.errors }}
		{{ field.label_tag }} {{ field }}
	</div>
	{% endfor %}
	<div class="col-md-6 col-md-offset-3">
		<input class="btn btn-default" type="submit" value="Envia" />
	</div>
</form>

{% endblock %}
