{% extends "base.html" %}
{% load staticfiles %}

{% block  title %}Tema: {{ tema.nom }}{% endblock %}
{% block localitzacio %}
<li>
	<a href="{% url 'preguntes:ferPreguntes' %}">Preguntes</a>
</li>
<li>
	<a href="{% url 'preguntes:llistatTipus' %}">Llistat Temes</a>
</li>
<li>
	<a class="active">Tipus: {{ tipus }}</a>
</li>
{% endblock %}

{% block content %}

<h1>Respon les preguntes del tipus {{tipus.nom}}</h1>
<br>
{% if preguntesTipus %}
<div class="container">

	<div  class="row">

		<ul>
			{% for pregunta in preguntesTipus %}

			<div id="taulaResultats{{pregunta.id}}" class=" taulaResultats  table-responsive">
				<table class=" table-bordered table  col-md-3 table-condensed">
					<tr class="info">
						<td>Nota mitjana de la pràctica: </td><td id="nota{{pregunta.id}}"></td>
					</tr>
					<tr  class="success">
						<td>Respostes Correctes: </td><td id="correctes{{pregunta.id}}"></td>
					</tr>
					<tr class="danger">
						<td>Respostes Incorrectes: </td><td id="incorrectes{{pregunta.id}}"></td>
					</tr>
				</table>
			</div>

			<div id="{{pregunta.id}}"  class="list-group col-md-9">
				<p class='list-group-item-info list-group-item'>
					<span class="col-md-4">Emplena els buits amb {{ pregunta.tema }}</span>
					<span class="btn-group col-md-offset-1">
						<button onclick="validarPreguntes({{pregunta.id}})" id="valid{{pregunta.id}}" class="btn col-md-offset-2 btn-sm btn-info butonet  validarPreguntes" value="Validar Pregunta" >
							Validar Pregunta
						</button> {%if medalles %}
						{%for m in medalles %}
						{% if 'ReportarPregunta' == m.medalla.nomMedalla %}
						<button onclick="marcarIncorrecte({{pregunta.id}})"   class="btn butonet col-md-offset-1 btn-sm btn-warning" value="Reportar Pregunta Incorrecte ">
							Reportar Pregunta Incorrecte
						</button> 
						{%endif%}
						{%endfor%}
						{%endif%} <span class="twitter" id="twitter{{pregunta.id}}"><a href="https://twitter.com/intent/tweet?button_hashtag=PreguntMatic&text=He%20contestat%20una%20pregunta%20sobre%20{{pregunta.tema}}%20a%20" class=" twitter-hashtag-button" data-lang="es" data-related="juli16_31">Tweet #PreguntMatic</a>
							<script>
								! function(d, s, id) {
									var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
									if (!d.getElementById(id)) {
										js = d.createElement(s);
										js.id = id;
										js.src = p + '://platform.twitter.com/widgets.js';
										fjs.parentNode.insertBefore(js, fjs);
									}
								}(document, 'script', 'twitter-wjs');
							</script> </span> </span>

				</p>
				<p class="preguntes list-group-item text-justify"  >
					{{ pregunta.toHTML }}
				</p>

			</div>
			{% endfor %}

		</ul>
	</div>

</div>
{% else %}
<p class="col-md-5 col-md-offset-3 text-center">
	En aquest moment no disposem de cap pregunta d'aquest tema.
	<br>
	<strong>Ets professor? Crea'n alguna!</strong>
	<br>
	<br>
	<a href="{% url 'preguntes:crearPregunta' %}">
	<button class="btn btn-info">
		Crear Pregunta!
	</button> </a>
</p>
{% endif %}

{% endblock %}

{% block mesScripts %}
<!--
{% if tipus.nom == "EmplenarBuitsOrtografics" %}
<script src="{% static 'codiEmplenarBuitsOrtografics.js' %}"></script>
{% endif %}
{% if tipus.nom == "CompletarGramatica" %}
<script src="{% static 'codiCompletarGramatica.js' %}"></script>
{% endif %}
{% if tipus.nom == "Test" %}
<script src="{% static 'codiTest.js' %}"></script>
{% endif %}
{% if tipus.nom == "Relacionar" %}
<script src="{% static 'codiRelacionar.js' %}"></script>
{% endif %}-->
{% endblock %}
