{% extends "base.html" %}
{% load staticfiles %}

{% block  title %}Tema: {{ tema.nom }}{% endblock %}
{% block localitzacio %}
<li>
	<a href="{% url 'preguntes:ferPreguntes' %}">Preguntes</a>
</li>
<li>
	<a href="{% url 'preguntes:llistatTipus' %}">Llistat Temes</a>
</li>
<li>
	<a class="active">Tipus: {{ tipus }}</a>
</li>
{% endblock %}

{% block content %}

<h1>Preguntes disponibles del tipus {{tipus.nom}}</h1>
<br>
{% if preguntesTipus %}
<div class="container">
	<div id="message"></div>
	<div id="taulaResultats" class="table-responsive">
		<table class=" table-bordered table col-md-3 table-condensed">
			<tr class="info">
				<td>Nota mitjana de la pràctica: </td><td id="nota"></td>
			</tr>
			<tr  class="success">
				<td>Respostes Correctes: </td><td id="correctes"></td>
			</tr>
			<tr class="danger">
				<td>Respostes Incorrectes: </td><td id="incorrectes"></td>
			</tr>
		</table>
	</div>

	<ul>
		<div id="preguntes" class="list-group col-md-9 col-sm-offset-1 ">
			{% for pregunta in preguntesTipus %}
			<p class="preguntes list-group-item text-justify"  id="{{pregunta.id}}">
				{{ pregunta.enunciat }}
			</p>
			{% endfor %}
		</div>
	</ul>

	<button class="btn  btn-info col-md-3 col-md-offset-5" value="Enviar Dades" id="validarPreguntes">
		Enviar Dades
	</button>

</div>
{% else %}
<p class="col-md-5 col-md-offset-3 text-center">
	En aquest moment no disposem de cap pregunta d'aquest tema.
	<br>
	<strong>Ets professor? Crea'n alguna!</strong>
	<br>
	<br>
	<a href="{% url 'preguntes:crearPregunta' %}">
	<button class="btn btn-info">
		Crear Pregunta!
	</button> </a>
</p>
{% endif %}

{% endblock %}

{% block mesScripts %}
<script src="{% static 'codiGeneral.js' %}"></script>
<script src="{% static 'jquery-cookie-master/jquery.cookie.js'%}"></script>
{% if tipus.nom == "EmplenarBuitsOrtografics" %}
<script src="{% static 'codiEmplenarBuitsOrtografics.js' %}"></script>
{% endif %}
{% if tipus.nom == "CompletarGramatica" %}
<script src="{% static 'codiCompletarGramatica.js' %}"></script>
{% endif %}
{% if tipus.nom == "Test" %}
<script src="{% static 'codiTest.js' %}"></script>
{% endif %}
{% if tipus.nom == "Relacionar" %}
<script src="{% static 'codiRelacionar.js' %}"></script>
{% endif %}
{% endblock %}
