{% extends "base.html" %}
{% load staticfiles %}

{% block  title %}Pràcticar Preguntes{% endblock %}

{% block localitzacio %}
		
		<li>
			<a class="active">Preguntes</a>
		</li>
{% endblock %}

{% block content %}
<h1 class="page-header">Estas preparat per començar a pràcticar?</h1>
<br>
<strong class="text-center">
	Disposes de dos formes de fer les pràctiques aleatories o escollint el tipus
</strong><br><br>

<div class="jumbotron col-md-5 ">
	<h2>Escollint el tipus</h2>
	<div class="container">
		<p>
			Podras escollir entre practicar diferents tipus d'exercici
		</p>
		<a href="{% url 'preguntes:llistatTipus' %}">
		<button class="btn btn-default">
			Vull escollir el tipus
		</button>
		</a>
		
	</div>
</div>
<div class="jumbotron col-md-5 col-md-offset-1 ">
	<h2>Preguntes aleatories</h2>
	<div class="container">
		<p>Sortiran un seguit de preguntes barrejades de tots els temes disponibles</p>
		<a href="{% url 'preguntes:randomExamen' %}">
		<button class="btn btn-default" >
			Vull pràcticar aleatoriament
		</button>
		</a>
	</div>
</div>

{% endblock %}
