{% extends "base.html" %}
{% load staticfiles %}

{% block  title %}Pràcticar Preguntes{% endblock %}

{% block localitzacio %}
		
		<li>
			<a class="active">Preguntes</a>
		</li>
{% endblock %}

{% block content %}
<h1>Estas preparat per començar a pràcticar?</h1>
<br>
<strong class="text-center">
	Disposes de dos formes de fer les pràctiques aleatories o escollint el tema
</strong><br><br>

<div class="jumbotron col-md-5 ">
	<h2>Escollint el tema</h2>
	<div class="container">
		<p>
			Podras escollir entre practicar la a/e, o/u, singular/plurar i molts més!
		</p>
		<a href="{% url 'preguntes:llistatTemes' %}">
		<button class="btn btn-default">
			Vull escollir el tema
		</button>
		</a>
		
	</div>
</div>
<div class="jumbotron col-md-5 col-md-offset-1 ">
	<h2>Preguntes aleatories</h2>
	<div class="container">
		<p>Sortiran un seguit de preguntes barrejades de tots els temes disponibles</p>
		<button class="btn btn-default" >
			Vull pràcticar aleatoriament
		</button>
	</div>
</div>

{% endblock %}
