#preguntes, .resposta {
	margin-bottom: 5px !important;
}
.respostaErronea {
	border-color: red !important;
}
.respostaCorrecte {
	border-color: green !important;
}
.seguit {
	display: inline-block !important;
}
#imatgeFons {
	background-image: url('./imatges/minion.png') !important;
	width: 200px;
	height: 200px;
	position: fixed;
	right: 0; 
	bottom: 0; 
	z-index: -9999; 
}
#imatge500 {
	background-image: url('./imatges/500.png') !important;
	width: 130px !important;
	height: 145px !important;
	background: no-repeat;
	margin-top: 70px !important;
	
}
#imatge404 {
	background-image: url('./imatges/404.png') !important;
	width: 130px !important;
	height: 145px !important;
	background: no-repeat;
	margin-top: 70px !important;
	
}
.validarPreguntes, .butonet{
	/*margin-top: 20px !important;*/
}
.inputPetit{
	display: inline-block !important;
	width: 50px;
	height: 30px;
}
.butMidaFixa{
	height: 30px !important;
}
